{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
    <body data-spy="scroll" data-target="#site-nav">
        {% include 'navbar.html' %}
        {% block content %}{% endblock content %}
        {% include 'footer.html' %}
    <div class="modal fade" id="registermdl" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      <div class="modal-body">
	          <p class="text-justify">Registrations for the conference will open soon. Keep checking our website for further notifications.</p>
	      </div>
	      <div class="modal-footer">
	          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
    <div class="modal fade" id="modal_terms_and_conditions" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      <div class="modal-body">
	          <center>
	            <h1>Terms and conditions</h1>
	        </center>
	        <div class="row">
	          <div class="col-md-12">
	            <ul>
	              <li>The decision of the organization will be final.</li>
	              <li>All authors must register for the conference.</li>
	              <li>The copyright for the content uploaded or shared by any means will be transferred to FOSSEE, IIT Bombay.</li>
	              <li>The Organization reserves the rights to release this content under Creative Commons Attribution-ShareAlike 4.0 International License in any format.</li>
	            </ul>
	          </div>
	        </div>
	      </div>
	      <div class="modal-footer">
	          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
    </body>
</html>

