{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<section id="submitcfp" class="section submitcfp">
    <div class="container">
    {% if cfp_dates.receive_proposals %}
            <center>
                <h1>Submit Proposal</h1>
            </center>
            <hr>
                <h2>
                    <u>Proposal Guidelines</u>
                </h2>
                <ul>
                    <li>Maximum of two authors are accepted for a proposal. Kindly make sure that the details are filled in correctly as these will reflect in the certificate.</li>
                    <li>The project you are willing to present should be an actual implementation rather than just an idea.</li>
                    <li>Submissions need not necessarily be about an implementation, they could also be about experiences and usage of Python and Python-based tools and libraries for research or teaching.</li>
                    <li>Abstract should be of 300 to 700 words describing the topic, including its relevance to scientific computing or the use of Python in education.</li>
                    <li>Proposals with an aim to promote a commercial product or service will be rejected.</li>
                    <li>In your abstract mention the various tools/libraries used for development.</li>
                    <li>Notification for selection/rejection of your proposal will be given through email.</li>
                    <li>All selected proposals must be presented at the conference by at least one author.</li>
                </ul>
                <div class="row">
                 <form  action="" method=POST enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name_of_authors">Name of the author1
                            <span style="color:red;">*</span>:
                        </label>
                 {% render_field proposal_form.name_of_author1 %}
                    </div>
                    <div class="form-group">
                        <label for="name_of_authors">Name of the author2
                        </label>
                 {% render_field proposal_form.name_of_author2 %}
                    </div>
                    <div class="form-group">
                        <label for="about_the_authors">About the author(s)
                            <span style="color:red;">*</span>:
                        </label>
                 {% render_field proposal_form.about_the_authors %}
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone
                            <span style="color:red;">*</span>:
                        </label>
                 {% render_field proposal_form.phone %}
                   </div>
                    <div class="form-group">
                        <label for="title">Title
                            <span style="color:red;">*</span>:
                        </label>
                 {% render_field proposal_form.title %}
                    </div>
                    <div class="form-group">
                        <label for="abstract">Abstract (Min. 300 char.)
                            
                            <span style="color:red;">*</span>:
                        
                        </label>
                 {% render_field proposal_form.abstract %}
                        <label>Charater count:
                            <div id="charNum"></div>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="duration">Duration (Mins.)
                            <span style="color:red;">*</span>:
                        </label>
                 {% render_field proposal_form.duration %}

                    </div>
                    <div class="form-group">
                        <label for="attachment">Attachments:</label>
                 {% render_field proposal_form.attachment %}
                    </div>
                    <div class="form-group">
                        <label for="tags">Tags:</label>
                 {% render_field proposal_form.tags %}
                    </div>
                    <div class="form-inline">
                        <div class="radio">
                            <label for="open_to_share">I agree to publish my resources of talk/presentation on this website
                                <span style="color:red;">*</span>:
                            </label>
                            {% render_field proposal_form.open_to_share %}
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="checkbox">
                            <label for="terms_and_conditions">I agree to the terms and conditions
                                <span style="color:red;">*</span>:
                            </label>
                            {% render_field proposal_form.terms_and_conditions %}
                        </div>
                    </div>
              {% render_field proposal_form.proposal_type %}
              {% csrf_token %}
                    <center>
                        <button id="subbtn" class="btn btn-info" type="submit" >Submit</button>
                        <a href="{% url 'website:cfp' %}" class="btn btn-info" role="button">Back</a>
                    </center>
                </form> 
                </div>

        {% else %}
          <center>
          <h2>We no longer accept proposals</h2>
          </center>
                {% endif %}
            </div>
        </section>
{% endblock %}
